<header class="c-header-cengagebrain" role="banner">
  <div class="c-header__body">

    <div class="c-header__logo">
      <a class="c-header__logo__link">
        <img src="../../images/logo.svg" class="c-logo c-logo-link__img" alt="Cengage Brain" />
      </a>
    </div>

    <div class="c-header__search">
      header search bar
    </div>

    <nav class="c-primary-nav">
      <ul class="c-primary-nav__list">
        <li class="c-primary-nav__item">
          <a>Login</a>
          <div>
            login Drop down
          </div>
        </li>
        <li class="c-primary-nav_item">
          <a class="c-primary-nav__link">Login</a>
          <div>
            login Drop down
          </div>
        </li>
        <li class="c-primary-nav__item">
          <a class="c-primary-nav__link">Login</a>
          <div>
            login Drop down
          </div>
        </li>
        <li class="c-primary-nav__item">
          <a class="c-primary-nav__link">Login</a>
          <div>
            login Drop down
          </div>
        </li>
      </ul>
    </nav>

  </div>
</header>
