<body>
  <header>
  </header>
  <main>
    <section class="c-view-cart">

      <div class="c-your-cart">
        <h2 class="u-h2">Your Cart</h2>

        <!-- https://getbootstrap.com/docs/4.0/examples/blog/ -->
        <div class="u-flex">
          <!-- Image -->
          <div>
            <a href="#">
              <img>
            </a>
          </div>

          <!-- Content -->
          <div>
            <a href="#">
              <h3 class="u-h3">eBook: Practical Problems in Mathematics for Information Technology, 1st Edition</h3>
            </a>

            <ul>
							<li><strong>Rental Length:</strong> 120 Days</li>
							<li><strong>ISBN10: </strong> 1-133-48223-6</li>
							<li><strong>ISBN13: </strong> 978-1-133-48223-9</li>
							<li><strong>AUTHORS: </strong> Todd Verge</li>
							<li class="copyrightYear">© 2009</li>
						</ul>

            <p>
							Please note: This is an Instant Access Product.
              <br>At the completion of your purchase simply go to "My Home" to access this product.
						</p>

            <p>
              <a class="removeItem" id="catalogEntry_name_free_ebook" aria-label="Free 14 day Access to eBook: Medical Office Procedures with Medical Pegboard, 5th Edition" href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                Free 14 day Access to eBook: Medical Office Procedures with Medical Pegboard, 5th Edition
              </a>
            </p>

          <div>

          <!-- Right Content -->
          <div>
            <button>Remove</button>
            <div>$13.49</div>
            <p>Availablility</p>
            <span>IN STOCK</span>
          </div>
        </div>

      </div>

      <aside class="c-summary">

        <h2 class="u-h2">Summary</h2>

        <a href="#" class="c-button" role="button" aria-pressed="true">
          Start Secure Checkout
          <i class="fa fa-lock"></i>
        </a>

        <!-- Tax Collapse Component -->
        <section class="c-tax-dropdown dropdown">
          <button id="dropdownMenuButton" class="c-btn c-tax-collapse__btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estimate Tax and Shipping
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form method="post" class="c-tax-dropdown__form">
              <div>
                <label for="search" class="c-tax-dropdown__form__label is-vishidden">Search the site</label>
                <input type="search" id="search" class="c-tax-dropdown__form__input" placeholder="Search the site" />
                <button>Estimate</button>
              </div>
            </form><!-- end c-search-form -->
            <p class="">
            Shipping estimate is based on the lowest priced available option. You will be able to select other shipping options before submitting your order.
            </p>
          </div>
        </section>

        <!-- https://getbootstrap.com/docs/4.0/examples/checkout/ -->
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
        </ul>

        <hr>

        <div>
          <span>Subtotal:</span>
          <span>$659.39</span>
        </div>

        <p>(Tax and Shipping are Estimates)</p>

      </aside>

    </section>
  </main>
  <footer>
  </footer>
</body>
