<!-- <a href="{{url}}" class="c-btn {{ btnClass }} {{ styleModifier }}">{{ btnText }}
  {{# hasTooltip }}
    <span class="c-tooltip">{{{ tooltipText }}}</span>
  {{/ hasTooltip }}
</a>
-->
<a href="#" class="button">tool tip button</a>
