
<div class="container c-view-cart">

  <div class="row">

    <!-- [ YOUR CART ] -->
    <div class="c-view-cart__your-cart">
      <!-- <div class="c-view-cart__your-cart col-12 col-sm-8 d-flex flex-column"> -->
      <h1>YOUR CART</h1>

      <!-- [ RED ALERT 2.0 CU Subscription ( Multiple Items in Cart ) ] -->
      <div class="c-alert c-alert--danger" role="alert">
        <div class="c-alert__content">You can only purchase one subscription at a time. Remove one of the subscriptions in your cart.</div>
        <!-- [ Close Button ] -->
        <button type="button" class="c-alert__close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- [ RED ALERT 3.0 CU Subscriber buying CU Subscription ] -->
      <div class="c-alert c-alert--danger" role="alert">
        <div class="c-alert__content">You already have a Cengage Unlimited subscription (<a href="#">view My Content</a>).</div>
        <!-- [ Close Button ] -->
        <button type="button" class="c-alert__close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- [ RED ALERT 3.1 CU Subscriber buying CU Catalog eBook ] -->
      <div class="c-alert c-alert--danger" role="alert">
        <div class="c-alert__content">Gardner's Art Trough the Ages: A Global History, 15th ed. is a;ready included with your Cengage ULIMITED subscription (<a href="#">view My Content</a>). Remove this item to continue.</div>
        <!-- [ Close Button ] -->
        <button type="button" class="c-alert__close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- [ RED ALERT 4.0 CU Subscriber ( with CU Catalog eBook ) ] -->
      <div class="c-alert c-alert--danger" role="alert">
        <div class="c-alert__content">You can only purchase one subscription at a time. Remove one of the subscriptions in your cart.</div>
        <!-- [ Close Button ] -->
        <button type="button" class="c-alert__close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- [ BLUE ALERT 0.5 CU Subscription ( with CU Catalog Rental ) ] -->
      <div class="c-alert c-alert--info">
        <div class="c-alert__content">
        Want this rental for free? This print may be included with your Cengage Unlimited subscription. Check
        <a href="">Print Options in Cengage Unlimited</a> to find out.
        </div>
        <!-- [ Close Button ] -->
        <button type="button" class="c-alert__close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- [ BLUE ALERT 0.6 Non-CU ( with CU Catalog Rental ) ] -->
      <div class="c-alert c-alert--info">
        <div class="c-alert__content">This rental may be included with your Cengage Unlimited subscription. Complete your Cengage Unlimited purchase, and check the Print Options screen to find out.</div>
        <!-- [ Close Button ] -->
        <button type="button" class="c-alert__close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>

    <!-- [ SUMMARY ] -->
    <div class="c-view-cart__summary u-sticky-top">
      <!-- <div class="c-view-cart__summary col-12 col-sm-4 d-flex flex-column">-->
      <h1>SUMMARY</h1>

      <div class="container">
        <button class="c-btn c-btn--secure-checkout">
          Start Secure Check out
          <i class="far fa-lock"></i>
        </button>

        <button class="c-btn c-btn--secure-checkout c-btn--disabled">
          Start Secure Check out
          <i class="far fa-lock"></i>
        </button>

        <div class="c-tax-shipping-dropdown">
          <button class="c-btn c-tax-ship-dropdown__btn">
            <span>Estimated Tax & Shipping</span>
            <i class="far fa-arrow"></i>
          </button>

          <div class="c-tax-shipping__content">

          </div>
        </div>

      Subtotal: <strong>$160.00</strong>
      Estimated Shipping: <strong>$0.00</strong>
      Estimated Tax:<strong>$10.01</strong>
      <hr>
      <span>Subtotal</span> <span>$170.01</span>


      <ul class="e-list-unstyled small">
        <li>
          <span class="">Subtotal: </span>
          <strong class="u-float-right">$119.00</strong>
        </li>
        <li>
          <span>Shipping: </span>
          <strong class="u-float-right">$119.00</strong>
        </li>
        <li>
          <span>Tax </span>
          <strong class="u-float-right">$119.00</strong>
        </li>
      </ul>
      <hr class="mt-0 mb-3">
      <span>Order Total: </span>
      <strong class="u-float-right">$129.00</strong>

      </div>

    </div>

  </div><!-- End Row -->
</div><!-- End Container -->
