<div>Primary font: 'Open Sans Regular', Arial, Helvetica, sans-serif;</div>
<div><em>Primary font italic: 'Open Sans Regular', Arial, Helvetica, sans-serif;</em></div>
<div><strong>Primary font bold: 'Open Sans Bold', Arial, Helvetica, sans-serif;</strong></div>
<div class="u-font-secondary">Secondary font: "Stag Book", "Palatino Linotype", "Book Antiqua", Palatino, serif;</div>
<div class="u-font-secondary"><em>Secondary font italic: "Stag Book", "Palatino Linotype", "Book Antiqua", Palatino, serif;</em></div>
<div class="u-font-secondary"><strong>Secondary font bold; "Stag Book", "Palatino Linotype", "Book Antiqua", Palatino, serif;</strong></div>
