<ul class="sg-colors">
  {{#colors}}
      <li>
        <span class="sg-swatch {{{className}}}"></span>
        <span class="sg-label">
          class: {{{className}}}<br />
          variable: {{{variable}}}<br />
          hex code: {{{hexCode}}}
        </span>
      </li>
  {{/colors}}
</ul>
