/* -- ---------------  -- */
/* -- BACKGROUND COLOR -- */
/* -- ---------------  -- */

/* -- [ Primary BACKGROUND COLORS] -- */
.u-bg-primary01 { background-color: #3f3f3f !important; }
.u-bg-primary02 { background-color: #007db8 !important; }
.u-bg-primary03 { background-color: #f7f7f7 !important; }

/* -- [ Primary BACKGROUND COLORS] -- */
.u-bg-secondary01 { background-color: #063961 !important; }
.u-bg-secondary02 { background-color: #2e9cd4 !important; }
.u-bg-secondary03 { background-color: #575757 !important; }
.u-bg-secondary04 { background-color: #7a7a7a !important; }
.u-bg-secondary05 { background-color: #bfbfbf !important; }
.u-bg-secondary06 { background-color: #dfdfdf !important; }

/* -- [ Primary BACKGROUND COLORS] -- */
.u-bg-accent01 { background-color: #6f9823 !important; }
.u-bg-accent02 { background-color: #90b82e !important; }
.u-bg-accent03 { background-color: #9bca43 !important; }
.u-bg-accent04 { background-color: #c1510a !important; }
.u-bg-accent05 { background-color: #fa6600 !important; }
.u-bg-accent06 { background-color: #f2981d !important; }

/* -- [ Primary BACKGROUND COLORS] -- */
.u-bg-limited01 { background-color: #ef0000 !important; }
.u-bg-limited02 { background-color: #ff5858 !important; }
.u-bg-limited03 { background-color: #ececec !important; }

.u-bg-white { background-color: #fff !important; }
.u-bg-black { background-color: #000 !important; }

.u-bg-findATutor { background-color: #297DBB !important; }
.u-bg-dynaConFooterCopy { background-color: #262626 !important; }
