/* Utility : Color */

/* -- -------------  -- */
/* -- [ TEXT COLOR]  -- */
/* -- -------------  -- */

/* -- [ Primary Text Colors ] -- */
.u-text-primary01 { color: #3f3f3f !important; }
.u-text-primary02 { color: #007db8 !important; }
.u-text-primary03 { color: #f7f7f7 !important; }

/* -- [ Primary Text Colors ] -- */
.u-text-secondary01 { color: #063961 !important; }
.u-text-secondary02 { color: #2e9cd4 !important; }
.u-text-secondary03 { color: #575757 !important; }
.u-text-secondary04 { color: #7a7a7a !important; }
.u-text-secondary05 { color: #bfbfbf !important; }
.u-text-secondary06 { color: #dfdfdf !important; }

/* -- [ Primary Text Colors ] -- */
.u-text-accent01 { color: #6f9823 !important; }
.u-text-accent02 { color: #90b82e !important; }
.u-text-accent03 { color: #9bca43 !important; }
.u-text-accent04 { color: #c1510a !important; }
.u-text-accent05 { color: #fa6600 !important; }
.u-text-accent06 { color: #f2981d !important; }

/* -- [ Primary Text Colors ] -- */
.u-text-limited01 { color: #ef0000 !important; }
.u-text-limited02 { color: #ff5858 !important; }
.u-text-limited03 { color: #ececec !important; }

.u-text-white { color: #fff !important; }
.u-text-black { color: #000 !important; }

.u-text-findATutor { color: #297DBB !important; }
.u-text-dynaConFooterCopy { color: #262626 !important; }
