<div class='pl-text-color'>
  {{#colors}}
  <div>
    <span>Class Name: .{{{className}}}<span>
    <h1 class="{{{className}}}">Heading Level 1</h1>
    <h2 class="{{{className}}}">Heading Level 2</h2>
    <h3 class="{{{className}}}">Heading Level 3</h3>
    <h4 class="{{{className}}}">Heading Level 4</h4>
    <h5 class="{{{className}}}">Heading Level 5</h5>
    <h6 class="{{{className}}}">Heading Level 6</h6>
  </div>
  {{/colors}}
</div>
