{{! <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 mt-5">
   <!-- -------------- -->
   <!-- [ MY RENTALS ] -->
   <!-- -------------- -->

   <div class="row content-center">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="d-flex d-flex flex-column flex-sm-row justify-content-between">
                  <!-- Purchase Date -->
                  <div>
                     <strong>Purchase date:</strong> 1/13/18
                  </div>
                  <!-- Order number -->
                  <div>
                     <strong>Order number:</strong> #402987
                  </div>
               </div>
            </div>
            <div class="panel-body">
               <div class="d-flex flex-column flex-sm-row mb-3">
                  <div class="mr-3">
                     <span style="color:#e0004d">INSTANT ACCESS</span>
                  </div>
                  <div>
                     Your access expires on
                     <strong>5/13/18</strong>
                  </div>
               </div>
               <div class="d-flex flex-wrap flex-column flex-md-row">
                  <div>
                     <img class="mr-3 mb-3" src="https://www.fillmurray.com/200/50">
                  </div>
                  <div class="mr-3">
                     <span>
        <strong class="d-inline">Cengage Unlimited Single-Term Access</strong>
        <span class="d-inline">| (4 months)</span>
                     </span>
                     <ul class="small list-unstyled">
                        <li>2019 Digital Access</li>
                        <li>Campbell/Campbell</li>
                        <li>
                           <span class="isbn-10 d-inline">ISBN 10: 1234565434</span>|
                           <span class="isbn-13 d-inline">ISBN 13: 8492750333100</span>
                        </li>
                        <li>C 2019 | Hardcover</li>
                     </ul>
                  </div>
                  <div class="ml-md-auto">
                     <strong>$119.00</strong>
                  </div>
               </div>

            </div>
            <div class="panel-footer">
               <!-- Buttons -->
               <div class="d-flex flex-column flex-sm-row justify-content-end">
                  <a class="btn btn-primary ghost mb-3 mb-sm-0 mr-sm-3" data-toggle="modal" href="#js-return-rental-modal">Return Rental</a>
                  <button class="btn btn-primary mb-3 mb-sm-0 mr-sm-3" data-toggle="modal" data-target=".js-extend-rental-modal">Extend Rental</button>
                  <button class="btn btn-primary">Buy My Rental</button>
               </div>
            </div>
         </div>

         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="d-flex d-flex flex-column flex-sm-row justify-content-between">
                  <!-- Purchase Date -->
                  <div>
                     <strong>Purchase date:</strong> 1/13/18
                  </div>
                  <!-- Order number -->
                  <div>
                     <strong>Order number:</strong> #402987
                  </div>
               </div>
            </div>
            <div class="panel-body">
               <div class="d-flex flex-column flex-sm-row mb-3">
                  <div class="mr-3">
                     <span style="color:#e0004d">DELIVERED ON 1/21/18</span>
                  </div>
                  <div>
                     Your rental must be returned by
                     <strong>7/1/18</strong>
                  </div>
               </div>
               <div class="d-flex flex-wrap flex-column flex-md-row">
                  <div>
                     <img class="mr-3 mb-3" src="https://www.fillmurray.com/150/188">
                  </div>
                  <div class="mr-3">
                     <span>
                    <strong class="d-inline">Cengage Unlimited Single-Term Access</strong>
                    <span class="d-inline">| (4 months)</span>
                     </span>
                     <ul class="small list-unstyled">
                        <li>2019 Digital Access</li>
                        <li>Campbell/Campbell</li>
                        <li>
                           <span class="isbn-10 d-inline">
                        ISBN 10: 1234565434
                      </span>|
                           <span class="isbn-13 d-inline">
                        ISBN 13: 8492750333100
                      </span>
                        </li>
                        <li>C 2019 | Hardcover</li>
                     </ul>
                  </div>
                  <div class="ml-md-auto">
                     <strong>$119.00</strong>
                  </div>
               </div>

            </div>
            <div class="panel-footer">
               <!-- Buttons -->
               <div class="d-flex flex-column flex-sm-row justify-content-end">
                  <button class="btn btn-primary ghost mb-3 mb-sm-0" data-toggle="modal" data-target=".js-cancel-rental-modal">Cancel</button>
               </div>
            </div>
         </div>

         <div class="row mt-3 mb-5">
            <div class="col-md-12 ">
               Contact
               <a href="#">support@cengage.com</a> with your questions and your retal.
            </div>
         </div>
      </div>
   </div>

</div>
<!-- END COL -->

<!-- ----------------------- -->
<!-- [ Return Rental Modal ] -->
<!-- ----------------------- -->
<div id="js-return-rental-modal" class="modal fade js-return-rental-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="modal-title">Return Details</h4>
         </div><!-- End Header -->
         <div class="modal-body">
            <h3>How do I return my rental?</h3>

            <p>You can process a return after the first 30 days of your rental but before your rental due date. Be sure to follow the shipping instructions and drop your rental off at the shipping location at least 5 days before your due date. A penalty is assessed for returns not received in the warehouse by the due date. The penalty amount will be the list price of the book minus the total sum of your rental fee plus any rental extensions you may have purchased.
            </p>

            <h3>How do I ship my textbook back?</h3>
            <p>To ship your rental back follow the instructions found on the shipping label. In order to receive a full refund you <strong>MUST</strong> use the UPS shipping label provided. Books sent back without this label cannot be credited. Your contract
               will remain <strong style="color:#6f9823">Active</strong> until the materials are received in the warehouse.
            </p>
            <h3>
               <span style="color:#fa6600">IMPORTANT:</span>
               </br>If you have more than one rental
            </h3>
            <p>If you ordered more than one rental it is important to repeat the cancellation or return process for each contract. You must use a separate box and prepaid UPS shipping label for each cancellation or return.
            </p>

            <p>
               <strong>Caution</strong>
               : Please make sure the entire label prints; including the tracking number and barcode. If the label is printing too large, reduce the size from printer settings to 50%.
               <br>(See FAQ's for more detailed instructions on reducing the label size)
            </p>
            <hr>
            <h3>Request Shipping Label</h3>
            <button class="btn btn-success mb-3" data-toggle="modal" data-target=".js-print-label-modal">
               Print Lable
            </button>

         </div><!-- /.modal-body -->
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- --------------- -->
<!-- [ Exten Modal ] -->
<!-- --------------- -->
<div class="modal fade js-extend-rental-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Extend Your Rental</h4>
         </div>
         <div class="modal-body">
            <h4>Need to keep your book longer?</h4>
            <p>Extending your rental contract allows will give you a new due date. Just select the extension length and press extend.</p>

            <form>
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Extension Length</th>
                           <th>Price</th>
                           <th>New Due Date</th>
                           <th>Extend</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row">15 Days</th>
                           <td>$34.99</td>
                           <td>06/04/2018</td>
                           <td>
                              <input type="radio" name="extensionLength" id="extension15Days" value="option1">
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">30 Days</th>
                           <td>$34.99</td>
                           <td>06/04/2018</td>
                           <td>
                              <input type="radio" name="extensionLength" id="extension30Days" value="option2">
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">60 Days</th>
                           <td>$34.99</td>
                           <td>06/04/2018</td>
                           <td>
                              <input type="radio" name="extensionLength" id="extension60Days" value="option2">
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">90 Days</th>
                           <td>$34.99</td>
                           <td>06/04/2018</td>
                           <td>
                              <input type="radio" name="extensionLength" id="extension90Days" value="option3">
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">130 Days</th>
                           <td>$34.99</td>
                           <td>06/04/2018</td>
                           <td>
                              <input type="radio" name="extensionLength" id="extension130Days" value="option4">
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">270 Days</th>
                           <td>$34.99</td>
                           <td>06/04/2018</td>
                           <td>
                              <input type="radio" name="extensionLength" id="extension270Days" value="option5">
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <button type="button" class="btn btn-primary">Extend</button>
            </form>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- --------------------- -->
<!-- [ Print Label Modal ] -->
<!-- --------------------- -->
<div class="modal fade js-print-label-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Print Label</h4>
         </div>
         <div class="modal-body">

            <h3>Cancellation Shipping Instructions</h3>

            <h2>To Return Your Rental ID: <span id="shippingLabelRentalID">13381</span></h2>
            <ol>
               <li>
                  <span>Print the shipping label and shipping instructions.</span>
               </li>
               <li>
                  <span>Get a box and securely pack your rental:
							<div id="shippingLabelTitle">Exploring Typography</div>
                  </span>
               </li>
               <li>
                  <span>Attach the shipping label to the box. Keep the shipping instructions for reference.</span>
               </li>
               <li>
                  <span>Ship the book back from any
                     <a href="http://www.ups.com/dropoff?loc=en_US">UPS package drop off location</a>.
                  </span>
               </li>
               <li>
                  <span>Once your textbook is received in our warehouse you will be notified by email and your rental contract will be closed.</span>
               </li>
            </ol>

            <h2>Return Details</h2>

            <h3>How do I return my rental?</h3>
            <p>You can process a return after the first 30 days of your rental but before your rental due date. Be sure to follow the shipping instructions and drop your rental off at the shipping location at least 5 days before your due date. A penalty
               is assessed for returns not received in the warehouse by the due date. The penalty amount will be the list price of the book minus the total sum of your rental fee plus any rental extensions you may have purchased.</p>
            <h3>How do I ship my textbook back?</h3>
            <p>
               To ship your rental back follow the instructions found on the shipping label. In order to receive a full refund you <strong>MUST</strong> use the UPS shipping label provided. Books sent back without this label cannot be credited. Your contract
               will remain <span class="GreenBold">Active</span> until the materials are received in the warehouse.
            </p>

            <h3>
               <span class="shippingLabelOrangeBold">IMPORTANT:</span> If you have more than one rental
            </h3>
            <p>If you ordered more than one rental it is important to repeat the cancellation or return process for each contract. You must use a separate box and prepaid UPS shipping label for each cancellation or return.</p>

            <form id="returnForm" method="post" action="https://s-www.cengage.com/shop/CengageReturnRentalPrintLabel?catalogId=10057&amp;langId=-1&amp;storeId=10151">
               <input type="hidden" name="X-Frame-Options" value="ALLOW-FROM https://qa-www.cengage.com" autocomplete="off">
               <input type="hidden" name="rentalAction" value="Cancellation" autocomplete="off">
               <input type="hidden" name="rentalTitle" value="Exploring Typography" autocomplete="off">
               <input type="hidden" name="rentalDate" value="" autocomplete="off">
               <input type="hidden" name="rentalID" value="13381" autocomplete="off">
               <input type="hidden" name="orderItemsID" value="9665021" autocomplete="off">
               <input type="hidden" id="reasonCode" name="reasonCode" value="70" autocomplete="off">
               <input type="hidden" name="iSBN13" value="9781285176819" autocomplete="off">
               <input type="hidden" name="reasonText" value="" autocomplete="off">
               <input type="submit" value="Print Label" class="btn btn-success mb-3">
            </form>

            <script type="text/javascript">
               $("#returnForm").submit(function() {
                  document.getElementById('returnForm').setAttribute('style', 'pointer-events:none');
                  setTimeout(function() {
                     document.getElementById('returnForm').removeAttribute('style', 'pointer-events:none');
                  }, 5000);
               });
            </script>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ----------------------- -->
<!-- [ Cancel Rental Modal ] -->
<!-- --------------------- -->
<div class="modal fade js-cancel-rental-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Cancellation Details</h4>
         </div><!-- /.modal-header -->
         <div class="modal-body">
            <h3>When can I cancel?</h3>

            <p>Cancellations are allowed for any reason within a 30 day time period from the contract start date. The contract start date is the date in which you place the order online.</p>

            <h3>Will I receive a refund?</h3>

            <p>You will receive a full refund including the applicable tax (excluding shipping &amp; handling) if we receive the returned materials within 30 days from your start date. Any items not received within 30 days of the contract start date will be treated
               as a standard return.</p>

            <h3>How do I ship my textbook back?</h3>
            <p>To ship your rental back follow the instructions found on the shipping label. In order to receive a full refund you <strong>MUST</strong> use the UPS shipping label provided. Books sent back without this label cannot be credited. Your contract
               will remain <strong style="color:#6f9823">Active</strong> until the materials are received in the warehouse.
            </p>
            <h3>
               <span style="color:#fa6600">IMPORTANT:</span>
               <br>If you have more than one rental
            </h3>
            <p>If you ordered more than one rental it is important to repeat the cancellation or return process for each contract. You must use a separate box and prepaid UPS shipping label for each cancellation or return. </p>
            <p>
               <strong>Caution:</strong>
               Please make sure the entire label prints; including the tracking number and barcode. If the label is printing too large, reduce the size from printer settings to 50%.
               <br>(See FAQ's for more detailed instructions on reducing the label size)
            </p>
            <h3>Request Shipping Label</h3>
            <p>You will not be able to print the label without a cancellation reason.</p>
            <h3>Select Cancellation Reason</h3>
            <select class="form-control mb-4" name="reason" id="rental-details-cancel-select" onchange="rentalCancelSelect(this);">
				   <option selected="selected" label="Select Cancellation Reason" value="none">Select Cancellation Reason</option>
					<option label="Damaged" value="10">Damaged</option>
					<option label="Defective" value="20">Defective </option>
					<option label="Wrong Book Ordered" value="30">Wrong Book Ordered</option>
					<option label="Wrong Book Shipped" value="40">Wrong Book Shipped</option>
					<option label="Dropped Class" value="50">Dropped Class</option>
					<option label="Other" value="60">Other</option>
				</select>

            <!-- --------------------- --->
            <!-- THE BOOK IS DEFECTIVE --->
            <!-- --------------------- --->
            <div id="isDefective" style="display:none">
               <!-- defective -->
               <hr>
               <h4>Cancellation Details</h4>
               <p style="color: #e0004d">The Received Book is defective</p>
               <div class="form-group">
                  <label for="reasonText">Please describe the defect below (max 500 characters):</label>
                  <textarea name="reasonText" class="form-control mb-4" cols="30" rows="3" form="cancelForm1" onkeydown="validateDescriptionDown(this);" onkeyup="validateDescriptionUp(this);"></textarea>
               </div>
               <form id="cancelForm1" method="post" action="https://perf-www.cengage.com/shop/RentalCancelReturnDisplayView?catalogId=10057&amp;langId=-1&amp;storeId=10151" onsubmit="return rentalsJS.validateTextAreaForm('isDefective')">
                  <input type="hidden" name="rentalAction" value="Cancellation">
                  <input type="hidden" name="rentalTitle" value="Plugged In">
                  <input type="hidden" name="rentalDate" value="06/26/2018">
                  <input type="hidden" name="rentalID" value="13661">
                  <input type="hidden" name="orderItemsID" value="9635002">
                  <input type="hidden" name="iSBN13" value="9781133312574">
                  <input type="hidden" name="reasonCode" value="20">
                  <input type="submit" value="Print Label" class="btn btn btn-success mb-5">
               </form>
            </div><!-- ./isDefective -->

            <!-- -------------------------- --->
            <!-- THE WRONG BOOK WAS SHIPPED --->
            <!-- -------------------------- --->
            <div id="isWrongShipped" style="display:none">
               <!-- wrong book shipped -->
               <hr>
               <h4>Cancellation Details</h4>
               <p style="color: #e0004d">Wrong Book Shipped</p>
               <div class="form-group">
                  <label for="reasonText">Enter Title and ISBN of Book Received:</label>
                  <input id="reasonText" class="form-control" name="reasonText" form="cancelForm2" type="text" size="35">
               </div>
               <form id="cancelForm2" method="post" action="https://perf-www.cengage.com/shop/RentalCancelReturnDisplayView?catalogId=10057&amp;langId=-1&amp;storeId=10151" onsubmit="return rentalsJS.validateTextInputForm('isWrongShipped')">
                  <input type="hidden" name="rentalAction" value="Cancellation">
                  <input type="hidden" name="rentalTitle" value="Plugged In">
                  <input type="hidden" name="rentalDate" value="06/26/2018">
                  <input type="hidden" name="rentalID" value="13661">
                  <input type="hidden" name="orderItemsID" value="9635002">
                  <input type="hidden" name="iSBN13" value="9781133312574">
                  <input type="hidden" name="reasonCode" value="40">
                  <input type="submit" value="Print Label" class="btn btn btn-success mb-5">
               </form>
            </div>

            <!-- ----------------------------- -->
            <!-- OTHER REASON FOR CANCELLATION -->
            <!-- ----------------------------- -->
            <div id="isOther" style="display:none">
               <!-- other -->
               <hr>
               <h4>Cancellation Details</h4>
               <p style="color: #e0004d">Other Reason For Cancellation</p>
               <div class="form-group">
                  <label for="reasonText">Please Describe (max 500 characters):</label>
                  <textarea name="reasonText" class="form-control" cols="30" rows="3" form="cancelForm3" onkeydown="validateDescriptionDown(this);" onkeyup="validateDescriptionUp(this);"></textarea>
               </div>
               <form id="cancelForm3" method="post" action="https://perf-www.cengage.com/shop/RentalCancelReturnDisplayView?catalogId=10057&amp;langId=-1&amp;storeId=10151" onsubmit="return rentalsJS.validateTextAreaForm('isOther')">
                  <input type="hidden" name="rentalAction" value="Cancellation">
                  <input type="hidden" name="rentalTitle" value="Plugged In">
                  <input type="hidden" name="rentalDate" value="06/26/2018">
                  <input type="hidden" name="rentalID" value="13661">
                  <input type="hidden" name="orderItemsID" value="9635002">
                  <input type="hidden" name="iSBN13" value="9781133312574">
                  <input type="hidden" name="reasonCode" value="60">
                  <input type="submit" value="Print Label" class="btn btn btn-success mb-5">
               </form>
            </div>

            <!-- ------------------- --->
            <!-- THE BOOK IS DAMAGED --->
            <!-- ------------------- --->
            <div id="isDamaged" style="display:none">
               <!-- for damaged, wrong book ordered, dropped class -->
               <hr>
               <h4>Print Label</h4>
               <form id="cancelForm4" method="post" action="https://perf-www.cengage.com/shop/RentalCancelReturnDisplayView?catalogId=10057&amp;langId=-1&amp;storeId=10151">
                  <input type="hidden" name="rentalAction" value="Cancellation">
                  <input type="hidden" name="rentalTitle" value="Plugged In">
                  <input type="hidden" name="rentalDate" value="06/26/2018">
                  <input type="hidden" name="rentalID" value="13661">
                  <input type="hidden" name="orderItemsID" value="9635002">
                  <input type="hidden" name="iSBN13" value="9781133312574">
                  <input type="hidden" id="reasonCode" name="reasonCode" value="">
                  <input type="submit" value="Print Label" class="btn btn btn-success mb-5">
               </form>
            </div><!-- End IS Damaged -->

         </div><!-- /.modal-body -->
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal --> }}
