/* -- -----------------------  -- */
/* -- [ SETTINGS : Boarders ] -- */
/* -- -----------------------  -- */


/* Borders */
/*
$border-color: $messer-warm-gray-50;
$default-border: 1px solid $border-color;

$border-radius-sm: 2px;
$border-radius-lg: 5px;

$box-shadow: 0 1px 1px rgba($header-color-dark, .3);
*/

/* -- Border Colors -- */
$s-border-color: #dfdfdf; // $secondary06

/* -- Border Radius -- */
$s-border-radius-sm: 4px;
$s-border-radius-lg: 5px;
