/* -- ---------------------------- -- */
/* -- [ UTILITIES : BASE SPACING ] -- */
/* -- ---------------------------- -- */

$base-spacing: .5rem; // 8px

$spacing-0   : 0;                 //  0px
$spacing-xxs : $base-spacing / 4; //  2px
$spacing-xs  : $base-spacing / 2; //  4px
$spacing-sm  : $base-spacing;     //  8px
$spacing-md  : $base-spacing * 2; // 16px
$spacing-lg  : $base-spacing * 3; // 24px
$spacing-xl  : $base-spacing * 4; // 32px
$spacing-xxl : $base-spacing * 5; // 40px

$spacing: (
   0 :  $spacing-0,   //  0px
 xxs :  $spacing-xxs, //  2px
  xs :  $spacing-xs,  //  4px
  sm :  $spacing-sm,  //  8px
  md :  $spacing-md,  // 16px
  lg :  $spacing-lg,  // 24px
  xl :  $spacing-xl,  // 32px
 xxl :  $spacing-xxl  // 40px
) !default;
