
{{#alerts}}
  <div class="c-alert {{{modifers}}}" role="alert">
    <div class="c-alert__content">{{{content}}}</div>
    <button type="button" class="c-alert__close" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
{{/alerts}}
